input[type=text], input[type=password], textarea {  
   
   
}  
body{  
  font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;  
}
.container {  
    padding: 50px;  
  background-color: lightblue;  
}  